<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>

{% extends 'index.html' %}
{%block content %}
{{ super() }}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Player</th>
        <th scope="col">Sold time</th>
        <th scope="col">Sold coins</th>
    </tr>
    </thead>
    <tbody>
    {% for bank in all_banks %}
    <tr>
        <td>{{bank.player_username}}</td>
        <td>{{bank.sold_time}}</td>
        <td>{{bank.sold_coins}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{%endblock%}

</body>
</html>