<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main information</title>
</head>
<body>

{% extends 'index.html' %}
{%block content %}
{{ super() }}

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Player</th>
        <th scope="col">Bet id</th>
        <th scope="col">Money on bet</th>
        <th scope="col">Possible win</th>
        <th scope="col">Bet won</th>
        <th scope="col">Bet time</th>
        <th scope="col">Bet color</th>
        <th scope="col">Bet number</th>
    </tr>
    </thead>
    <tbody>
    {% for player_bet in player_bets %}
    <tr>
        <td>{{player_bet.player_username}}</td>
        <td>{{player_bet.bet.bet_id}}</td>
        <td>{{player_bet.bet.bet_money}}</td>
        <td>{{player_bet.bet.won_money}}</td>
        <td>{{player_bet.bet.won_bet}}</td>
        <td>{{player_bet.bet.bet_time}}</td>
        <td>{{player_bet.bet.bet_color}}</td>
        <td>{{player_bet.bet.bet_number}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{%endblock%}

</body>
</html>