<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
</head>
<body>

{% extends 'index.html' %}
{%block content %}
{{ super() }}

<a href="{{url_for('create_player')}}" class="btn btn-primary">Create new country</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Capital</th>
        <th scope="col">Population</th>
        <th scope="col">Square</th>
    </tr>
    </thead>
    <tbody>
    {% for country in all_countries %}
    <tr>
        <td>{{country.country_name}}</td>
        <td>{{country.country_capital}}</td>
        <td>{{country.country_population}}</td>
        <td>{{country.country_square}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{%endblock%}

</body>
</html>